/* styles.css */

/* Styles généraux */
body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Styles de la navigation */
  .navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }
  
  /* Styles de la page d'accueil */
  .home-container {
    text-align: center;
    padding: 20px;
  }
  
  .home-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .home-description {
    font-size: 18px;
    margin-bottom: 20px;
    color: #888;
  }
  
  /* Styles de la galerie de projets */
  .project-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .project-item {
    border: 1px solid #ccc;
    padding: 10px;
    transition: transform 0.3s ease;
  }
  
  .project-item:hover {
    transform: scale(1.05);
  }
  
  .project-item img {
    width: 100%;
    height: auto;
  }
  
  /* Styles du formulaire de contact */
  .contact-form {
    width: 300px;
    margin: 0 auto;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  .contact-form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color: #555;
  }